BasedOnStyle: Google
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 0
BreakBeforeBraces: Allman
SortIncludes: true
IncludeBlocks: Preserve
NamespaceIndentation: None
PointerAlignment: Left
AllowShortIfStatementsOnASingleLine: false
SpacesInContainerLiterals: false
ReflowComments: false
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
